* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    width: 12%;
    background-color: #333366;
    border-left: 10px solid #333366;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0 0 10px 2px #8484b3;
    float: left;
    position: fixed;
    top: 40px;
    left: 40px;
    bottom: 40px;
    border-radius: 10px;
}

header ul {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 30px;
}

header ul li {
    width: 100%;
    position: relative;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5px;
}

header ul li:hover,
header ul li.hovered {
    background-color: white;
}

header ul li a {
    width: 100%;
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: white;
}

header ul li:hover a, 
header ul li.hovered a  {
    color: #333366;
}

header ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 68px;
    text-align: center;
}

header ul li a .icon ion-icon {
    font-size: 20px;
    font-weight: 500;
}

header ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: normal;
    font-size: 15px;
    font-weight: 500;
}

header ul li:hover a::before,
header ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

header ul li:hover a::after,
header ul li.hovered a::after  {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

article {
    width: 100%;
}

@media screen and (max-width: 1450px) {
    header {
        width: 60px;
    }

    header ul li a .icon ion-icon {
        font-size: 22px;
        margin-left: -10px;
    }

    header ul li a .title {
        visibility: hidden;
    }
}

@media screen and (max-width: 750px) {

    header {
        width: 100%;
        height: 60px;
        border-left: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    header ul {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header ul li {
        width: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
        padding: 10px;
    }

    header ul li:hover,
    header ul li.hovered {
        background-color: white;
        border-radius: 10px;
    }

    header ul li a {
        width: 100%;
        text-decoration: none;
        color: white;
    }

    header ul li:hover a,
    header ul li.hovered a {
        color: #333366;
    }

    header ul li a .icon {
        min-width: 0;
        height: 100%;
        line-height: 0;
        text-align: center;
    }

    header ul li a .icon ion-icon {
        font-size: 22px;
        margin: 0;
    }

    header ul li a .title {
        position: absolute;
    }

    header ul li:hover a::before,
    header ul li.hovered a::before {
        right: 0;
        bottom: 0;
        height: 0;
        box-shadow: 0 0 0 white;
    }

    header ul li:hover a::after,
    header ul li.hovered a::after {
        right: 0;
        bottom: 0;
        height: 0;
        box-shadow: 0 0 0 white;
    }

}